

@tailwind base;
@tailwind components;
@tailwind utilities;

.featuredItem {
    position: relative;
    background-image: url("/src/assets/home/featured.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 848px;
    z-index: 1;
    color: white;
}
/* blur  */
.featuredItem::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    backdrop-filter: blur(10px); /* Adjust the blur intensity here */
    z-index: -1;
}


/* Add these styles to your CSS file */
.custom-tabs [role="tab"] {
    user-select: none;
    position: relative;
}

.custom-tabs [role="tab"][aria-selected="true"] {
    color: rgb(187, 133, 6);
}

.custom-tabs [role="tab"][aria-selected="true"]::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(187, 133, 6);
}

/* Remove default react-tabs styles */
.react-tabs__tab--selected {
    border: none !important;
    background: transparent !important;
}

.react-tabs__tab:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}

/* Make tab list scrollable on mobile */
.react-tabs__tab-list {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.react-tabs__tab-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}